.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content-home {
    display: flex;
    align-items: center;
    margin-top: 100px;
    height: 85vh;
  }
  
  .girl {
    height: 85vh;   
   }
  
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .title {
    margin-bottom: 10px; 
 }
  
  .subtitle {
     margin-bottom: 20px; 
     }
  
  .button {
    display: flex;
    justify-content: flex-start;
  }
